name: Backend CI
on:
  push:
    branches: [ "main" ]
    paths:
      - 'backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/**'
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./backend
    steps:
    - uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json
    - name: Install Dependencies
      run: npm ci
    # abaixo se tiver script de lint
    # - name: Lint
    #   run: npm run lint
    - name: Build
      run: npx tsc --noEmit
    
    - name: Validate Prisma Schema
      run: npx prisma validate
      env:
        DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy" # URL falsa apenas para validação
    
    - name: Run Tests
      run: npm test