name: Mobile CI
on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/**' # Ajuste se o app Flutter estiver em outra pasta
  pull_request:
    branches: [ "main" ]
    paths:
      - 'frontend/**'
jobs:
  build-mobile:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./frontend # Ajuste para a pasta do seu app Flutter
    steps:
    - uses: actions/checkout@v4
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.19.0' # Defina a versão que vocês usam
        cache: true
    - name: Get Dependencies
      run: flutter pub get
    - name: Verify Formatting
      run: dart format --output=none --set-exit-if-changed .
    - name: Analyze
      run: flutter analyze
    - name: Run Tests
      run: flutter test
    - name: Build APK (Android)
      run: flutter build apk --release
      
    # Opcional: Upload do APK gerado como artefato para download
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: frontend/build/app/outputs/flutter-apk/app-release.apk